@import url('https://fonts.googleapis.com/css?family=Pacifico');
body{
	background: url('6.jpg') no-repeat;
	background-size:cover;
	font-family:  'Berkshire Swash', cursive;
	font-size: 20px;
	color: white;
}
li{
	font-family: arial;
	color: white;
	font-size: 20px;
}